// ADD BASE STYLES HERE //

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    font-size: 2rem;
}

h1, h2, h3, p {
    margin: 0;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
}

h1, h2, h3 {
    font-family: 'Playfair Display', serif;
}

a {
    text-decoration: none;
    color: inherit;
}

img {
    max-width: 100%;
}

.wrapper {
    max-width: 80%;
    margin: 0 auto;
}