article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block;
}

audio, canvas, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

a:focus {
  outline: thin dotted;
}

a:active, a:hover {
  outline: 0;
}

h1 {
  font-size: 2em;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b, strong {
  font-weight: 700;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em;
}

pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: \201C \201D \2018 \2019;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -.5em;
}

sub {
  bottom: -.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em;
}

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}

button, input {
  line-height: normal;
}

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled], input[disabled] {
  cursor: default;
}

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body, figure {
  margin: 0;
}

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.visuallyHidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0);
  overflow: hidden;
}

img {
  max-width: 100%;
  width: 100%;
  display: block;
}

.q1, .q3, .q5, .resultContainer {
  background: #372e29;
  color: white;
}

.resultContainer {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.resultContainer p:last-of-type {
  padding-bottom: 50px;
}

.resultContainer iframe {
  padding-top: 50px;
  max-width: 100%;
}

footer {
  background: black;
  color: white;
}

.q1 .wrapper, .q2 .wrapper, .q3 .wrapper, .q4 .wrapper, .q5 .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 15% 0;
}

@media (max-width: 900px) {
  .q1 .wrapper, .q2 .wrapper, .q3 .wrapper, .q4 .wrapper, .q5 .wrapper {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 8% 0;
  }
}

.q1 .wrapper form, .q2 .wrapper form, .q3 .wrapper form, .q4 .wrapper form, .q5 .wrapper form {
  width: 60%;
}

@media (max-width: 900px) {
  .q1 .wrapper form, .q2 .wrapper form, .q3 .wrapper form, .q4 .wrapper form, .q5 .wrapper form {
    width: 100%;
    text-align: center;
  }
}

.q1 .wrapper svg, .q2 .wrapper svg, .q3 .wrapper svg, .q4 .wrapper svg, .q5 .wrapper svg {
  fill: white;
  width: 40%;
}

@media (max-width: 800px) {
  .q1 .wrapper svg, .q2 .wrapper svg, .q3 .wrapper svg, .q4 .wrapper svg, .q5 .wrapper svg {
    width: 75%;
  }
}

@media (min-width: 1500px) {
  .q1 .wrapper svg, .q2 .wrapper svg, .q3 .wrapper svg, .q4 .wrapper svg, .q5 .wrapper svg {
    max-width: 500px;
  }
}

footer {
  text-align: center;
  padding: 10px 0;
}

.qText {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.qText form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}

@media (max-width: 900px) {
  .qText form {
    padding: 0;
    margin-bottom: 50px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.qText form h2 {
  margin-bottom: 20px;
}

.submitLast {
  height: 100vh;
}

.submitLast .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  text-align: center;
}

.q2, .q4, .submitLast {
  background: #740001;
  color: white;
}

input[type="radio"] {
  -webkit-transform: scale(2);
          transform: scale(2);
  margin: 15px 0;
  margin-right: 20px;
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

@media (max-width: 800px) {
  input[type="radio"] {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
    margin-right: 5px;
  }
}

i.fa-hat-wizard {
  margin-right: 5px;
}

input[type="radio"]:checked + i.fa-hat-wizard {
  color: black;
  text-shadow: 1px 1px goldenrod;
}

input[value=Next], .submitFinal {
  border: none;
  margin-top: 20px;
  background: #740001;
  color: white;
  padding: 5px 30px;
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
  border: white solid 2px;
}

input[value=Next]:hover, .submitFinal:hover {
  background: white;
  color: #740001;
  border: 2px solid #740001;
  cursor: pointer;
}

input[value=Next]:active, .submitFinal:active {
  -webkit-box-shadow: 3px 2px 0 0;
          box-shadow: 3px 2px 0 0;
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

@media (min-width: 1600px) {
  html {
    font-size: 100%;
  }
}

h1, h2, h3, p {
  margin: 0;
}

@media (max-width: 700px) {
  h1 {
    font-size: 3.5rem;
  }
}

@media (max-width: 700px) {
  h3, h2 {
    font-size: 2.5rem;
  }
}

body {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 2.5rem;
}

@media (max-width: 800px) {
  body {
    font-size: 2rem;
  }
}

h1, h2, h3 {
  font-family: 'Playfair Display', serif;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
}

.wrapper {
  max-width: 1200px;
  width: 80%;
  margin: 0 auto;
}

.headerImages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.gryffindor, .hufflepuff, .ravenclaw, .slytherin {
  width: 50%;
}

header .hufflepuff {
  background: #ecb939;
}

header .hufflepuff svg {
  fill: #372e29;
}

header .ravenclaw {
  background: #0e1a40;
}

header .ravenclaw svg {
  fill: #946b2d;
}

header .slytherin {
  background: #1a472a;
}

header .slytherin svg {
  fill: #aaaaaa;
}

header .gryffindor {
  background-color: #740001;
}

header .gryffindor svg {
  fill: #d3a625;
}

svg text {
  font-size: 0;
}

header {
  position: relative;
}

.headerText {
  background-color: #d3a625;
  border-bottom: 5px solid #740001;
  width: 100%;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0 3%;
  padding-top: 1%;
  width: 80%;
}

.btn {
  line-height: 50px;
  height: 50px;
  text-align: center;
  width: 250px;
  cursor: pointer;
  margin: 10% 0;
}

@media (min-width: 1500px) {
  .btn {
    width: 400px;
  }
}

@media (max-width: 450px) {
  .btn {
    width: 200px;
  }
}

.btnOne {
  color: #740001;
  font-weight: bold;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  position: relative;
}

.btnOne span {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.btnOne:hover {
  letter-spacing: 2px;
}

.btnOne:hover::before {
  opacity: 1;
  -webkit-transform: scale(1, 1);
          transform: scale(1, 1);
}

.btnOne::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  background-color: rgba(255, 255, 255, 0.1);
}

.btnOne:hover::after {
  opacity: 0;
  -webkit-transform: scale(0.1, 1);
          transform: scale(0.1, 1);
}

.btnOne::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border-top-width: 2px;
  border-bottom-width: 2px;
  border-top-style: solid;
  border-bottom-style: solid;
  border-top-color: rgba(116, 0, 1, 0.5);
  border-bottom-color: rgba(116, 0, 1, 0.5);
  -webkit-transform: scale(0.1, 1);
          transform: scale(0.1, 1);
}

.stars, .twinkling {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  display: block;
}

@keyframes move-twink-back {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -10000px 5000px;
  }
}

@-webkit-keyframes move-twink-back {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -10000px 5000px;
  }
}

.stars {
  background: #000 url(../assets/stars.png) repeat top center;
  z-index: -1;
}

.twinkling {
  background: transparent url(../assets/twinkling.png) repeat top center;
  z-index: -1;
  -webkit-animation: move-twink-back 200s linear infinite;
  animation: move-twink-back 200s linear infinite;
}
